/* Style général */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', 'Times New Roman', Times, serif, sans-serif;
  scroll-behavior: smooth;
}

p {
  font-weight: 300;
  color: #111;
}

/* Header */
header {
  position: fixed;
  top: 0;
  left: 0;
  padding: 20px 10px;
  width: 100%;
  z-index: 1000;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #4B0082;
  transition: 0.5s;
}

.logo {
  color: #fff;
  font-weight: bold;
  font-size: 2em;
  text-decoration: none;
}

.logo span {
  color: #9370DB;
}

.navbar {
  display: flex;
  position: relative;
}

.navbar li {
  list-style: none;
  position: relative;
}

.navbar a {
  display: inline-block;
  text-decoration: none;
  margin-left: 30px;
  font-weight: 700;
  color: #fff;
  padding: 10px 10px;
  position: relative;
  transition: color 0.3s ease, background-color 0.3s ease;
}

.navbar .dropbtn {
  color: #d5001c;
}

.navbar .lien_form {
  color: #d5001c;
}

.navbar .lien_even {
  color: #d5001c;
}

/* Effet hover personnalisé pour chaque lien */
.navbar li:hover > a {
  color: #9370DB;
  background-color: rgba(107, 21, 199, 0.15);
  padding: 15px 30px 20px;
}

.navbar li:hover > a::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 5px;
  background-color: rgba(56, 2, 80, 0.8);
  transition: background-color 0.3s ease;
}

/* Dropdown Menu */
.dropdown {
  position: relative;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #fff;
  width: 200px;
  left: 0;
  top: 100%;
  box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
  padding: 20px;
  z-index: 1;
  visibility: hidden;
  opacity: 0;
  transition: opacity 0.3s ease, visibility 0.3s ease;
}

.dropdown-content a {
  color: #4B0082;
  padding: 10px;
  text-decoration: none;
  display: block;
  font-weight: 600;
}

.dropdown-content a:hover {
  background-color: #4B0082;
  color: #e4e4e4;
}

.dropdown:hover .dropdown-content,
.dropdown-content.active {
  display: block;
  visibility: visible;
  opacity: 1;
}

/* Mobile Menu */
.menuToggle {
  display: none;
}

/* Modifications pour un comportement plus intuitif */
.dropdown-content.active {
  display: block; /* Assurez-vous que le menu soit visible */
  visibility: visible;
  opacity: 1;
}

/* État du lien actif */
.navbar li.active > a {
  color: #9370DB; /* Couleur du lien actif */
  background-color: rgba(107, 21, 199, 0.15);
}

/* Ajustements du dropdown sur mobile */
@media (max-width: 768px) {
  .navbar.active {
      display: flex; /* Affichez le menu mobile */
      max-height: 300px; /* Ajustable selon le nombre de liens */
  }
  
  .dropdown-content {
      position: relative; /* Ajustez la position */
  }
}


@media (max-width: 768px) {
  .navbar {
      display: none;
      flex-direction: column;
      background-color: #ae91c3;
      width: 100%;
      position: absolute;
      top: 70px;
      left: 0;
      z-index: 10;
      transition: all 0.3s ease-in-out;
      max-height: 0;
      overflow: hidden;
  }

  .navbar.active {
      display: flex;
      max-height: 300px; /* Ajustable selon le nombre de liens */
  }

  .navbar li {
      margin: 10px 0;
  }

  .navbar a {
      font-size: 16px;
      text-align: center;
      padding: 8px 0;
      margin: 0;
      color: #fff;
  }

  .dropdown-content {
      position: relative;
      top: 0;
      flex-direction: column;
  }

  .menuToggle {
      display: block;
      position: absolute;
      right: 20px;
      top: 20px;
      width: 30px;
      height: 30px;
      background: url('./images/menu.jpg') no-repeat center;
      background-size: contain;
      cursor: pointer;
      z-index: 1001; /* Assurez-vous que le menu soit toujours visible */
  }

  .menuToggle.active {
      background: url('./images/close.jpg') no-repeat center;
      background-size: contain;
  }

  .logo {
      font-size: 1.5em;
  }

  .dropdown-content a {
      padding: 8px;
      font-size: 14px;
      
  }

  .navbar li:hover > a {
      padding: 10px 20px;
  }
}

/* Sticky header */
header.sticky {
  background:#fff;
  padding: 10px 10px;
  box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.05);
}


header.sticky .logo {
  color: #4B0082;
}
header.sticky .navbar li a {
  color: #4B0082;
}

header.sticky li a:hover {
  color: #9370DB;
}

header.sticky .navbar .dropdown-content a {
  color: #4B0082;
}

header.sticky .navbar .dropdown-content a:hover {
  color: #e27e26;
  background-color: rgba(125, 7, 164, 0.05);
}



/* Conteneur de connexion */
.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #f4f4f4;
}

.login-box {
  background: #fff;
  padding: 30px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 100%;
  max-width: 400px;
  text-align: center;
}

.login-box h2 {
  font-size: 1.8rem;
  color: #4B0082;
  margin-bottom: 20px;
}

.input-box {
  margin-bottom: 20px;
}

.input-box label {
  display: block;
  margin-bottom: 8px;
  font-size: 1rem;
  color: #333;
}

.input-box input {
  width: 100%;
  padding: 12px;
  border: 1px solid #ddd;
  border-radius: 4px;
  box-sizing: border-box;
  font-size: 1rem;
}

.btn {
  width: 100%;
  padding: 12px;
  background-color: #4B0082;
  color: #fff;
  border: none;
  border-radius: 4px;
  font-size: 1.2rem;
  cursor: pointer;
  transition: background-color 0.3s;
}

.btn:hover {
  background-color: #9370DB;
}

#error-message {
  margin-top: 10px;
  font-size: 0.9rem;
  color: red;
}

/* Styles pour la responsivité */
@media (max-width: 480px) {
  .login-box {
    padding: 20px;
    width: 90%; /* Utilisation d'un pourcentage pour s'adapter à des écrans plus petits */
  }

  .login-box h2 {
    font-size: 1.5rem; /* Réduction de la taille du texte pour les petits écrans */
  }

  .input-box label {
    font-size: 0.9rem; /* Réduction de la taille de la police pour les petits écrans */
  }

  .input-box input {
    padding: 10px; /* Réduction de l'espace à l'intérieur des champs de saisie */
  }

  .btn {
    font-size: 1rem; /* Réduction de la taille de la police pour le bouton */
  }

  #error-message {
    font-size: 0.8rem; /* Réduction de la taille du texte pour le message d'erreur */
  }
}

/* Styles pour les écrans moyens (tablettes) */
@media (max-width: 768px) {
  .login-box {
    width: 80%; /* Ajustement de la largeur pour les écrans moyens */
  }

  .login-box h2 {
    font-size: 1.6rem; /* Légère réduction de la taille du texte pour les écrans moyens */
  }
}

/* Styles pour les écrans larges */
@media (min-width: 769px) {
  .login-container {
    padding: 20px; /* Ajout de padding pour les grands écrans */
  }
}
